@import url('https://fonts.googleapis.com/css?family=Dosis');
body{
    background-color: #2C8EE2;  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: #007ea7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 1rem;
    color: #fff;
    /* font-size: 1rem; */
}

#tempmargin{
margin-top: 2rem;
}

.marg{
    padding: 0.3rem;
    font-size: 1.2rem;
}

#temp{
    margin-bottom: 0.6rem;
}

.Input {
    position: relative;
  }
  
  .Input-text {
    display: block;
    margin: 0.5rem 0 0 0;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    width: 100%;
    font-family: inherit;
    /* font-size: var(--inputFontSize); */
    font-size: 1.5rem;
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow var(--transitionDuration);
    /* color: rgb(68, 48, 48); */
    padding: 0.5rem;
    background-color: #1796d3;
  }
  
  .Input-text::placeholder {
    color: #B0BEC5;
  }
  
  .Input-text:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
  }
  
  #submitButton{
    background-color: #ffe45c;
    border: none;
    color: #0046BB;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    padding: 0.3rem;
    margin-top: 1rem;   
    display: block;
    cursor: pointer;
    border-radius: 5px;
  }